{:source-paths
 ["src" "test"]

 :dependencies
 [[cljs-bean "1.6.0"]
  [olical/cljs-test-runner "3.8.0"]
  [binaryage/devtools "1.0.2"]]

 :builds
 {:ci {:target :karma
       :output-to "target/ci.js"
       :ns-regexp "-test$"}}}
